name: twitter-name-workflow

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 9 * * *'
# Run on everyday 00:00 (JST)

jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Update Twitter Name
      env:
        consumer_key: ${{ secrets.CONSUMER_KEY }}
        consumer_secret: ${{ secrets.CONSUMER_SECRET }}
        access_token_key: ${{ secrets.ACCESS_TOKEN_KEY }}
        access_token_secret: ${{ secrets.ACCESS_TOKEN_SECRET }}
      run: |
        cd ${GITHUB_WORKSPACE}
        npm i
        npm start
